body {
    background-color: rgb(4, 61, 4);
}

h1 {
    font-size: 350%;
    font-family: verdana;
    font-weight: bold;
    position: absolute;
    top: 3%;
    left: 5%;
    text-shadow: 3px 3px black;
    color: firebrick;
}

h2 {
    font-size: 300%;
    font-family: verdana;
    font-weight: bold;
    position: absolute;
    top: 16%;
    left: 50%;
    text-shadow: 3px 3px black;
    color: orange;
}


/* css menu */

#nav {
    background-color: transparent;
    width: 20%;
    position: absolute;
    top: 5%;
    left: 40%;
    border-style: solid;
    border-width: 4px;
    border-color: orange;
    box-shadow: 3px 3px black;
    background-color: black;
    opacity: 0.8;
}

#nav ul li {
    list-style-type: none;
    display: inline;
}

#nav a {
    color: #FFFF;
    padding: 15px 50px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;
    text-shadow: 3px 3px black;
}

#nav a:hover {
    color: yellow;
}


/* css testo principale */

#testo {
    color: gold;
    font-weight: bold;
    font-family: monospace;
    font-size: 170%;
    position: absolute;
    top: 37%;
    left: 15%;
    height: 37%;
    width: 67%;
    text-align: center;
    text-shadow: 3px 3px black;
    background-color: black;
    opacity: 0.8;
}

#mapdiv {
    position: relative;
    height: 70%;
    width: 90%;
    top: 20%;
    left: 5%;
    border-style: solid;
    border-width: 4px;
    border-color: orange;
}

footer {
    color: orange;
    position: absolute;
    bottom: 1%;
    right: 1%;
}