@media screen and (min-width: 1200px){
	body{
		backgorund-color:black;
		/*background-image:url("Saturn_pillars.jpg");*/
		background-repeat: repeat;
		background-size:100%;
		background-attachment: fixed;
	}

	h1{
		font-size:300%;
		font-family:verdana;
		font-weight: bold;
		position: absolute;
		top: 0%;
		left: 35%;
		align-items: center;
		text-shadow: 3px 3px #282828;
		color:#DCC08B;
	}

	/* css menu */
	#nav {
		background-color:transparent;
		width:35%;
		position: absolute;
		top: 30%;
		left: 32%;
		border-style: solid;
		border-width: 2px;
		border-color:#DCC08B;
		background-color: black;
		text-align: center;
		opacity: 0.8;
	}

	#nav ul li{
		list-style-type:none;
		display: inline;
	}

	#nav a{
		color:#DCC08B;
		text-shadow: 2px 2px #282828;
		padding: 15px 50px;
		display: inline-block;
		font-weight: bold;
		text-decoration: none;
		font-size:110%;
		text-transform: uppercase;
		font-family:arial;
	}

	#nav a:hover{
		color:darkgoldenrod;
	}

	/* css footer*/
	footer{
		position:fixed;
		bottom:0%;
		right:0%;
		color: #DCC08B;
	}
}

/*smatphone landscape*/
@media only screen and (orientation:landscape) 
	and (max-width: 1200px) { 
        body{
                /*background-image:url("Saturn_pillars.jpg");*/
                background-repeat: no-repeat;
                background-size:100%;
                background-attachment: fixed;
        }

        h1{
                font-size:300%;
                font-family:verdana;
                font-weight: red;
                position: absolute;
                top: 0%;
                left: 17%;
                align-items: center;
                text-shadow: 3px 3px #282828;
                color:#DCC08B;
        }

        /* css menu */
        #nav {
                background-color:transparent;
                width:50%;
                position: absolute;
                top: 35%;
                left: 25%;
                border-style: solid;
                border-width: 2px;
                border-color:#DCC08B;
                background-color: black;
                text-align: center;
                opacity: 0.8;
        }

        #nav ul li{
                list-style-type:none;
                display: inline;
        }

        #nav a{
                color:#DCC08B;
                text-shadow: 2px 2px #282828;
                padding: 10px 25px;
                display: inline-block;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
		font-size:110%;
                font-family:arial;
        }

        #nav a:hover{
                color:darkgoldenrod;
        }

        /* css footer*/
        footer{
                position:fixed;
                bottom:0%;
                right:0%;
                color: #DCC08B;
        }
}

/*smartphone portrait*/
@media only screen and (orientation:portrait) {
        body{
               /* background-image:url("Saturn_pillars.jpg");*/
                background-repeat: no-repeat;
                background-size:400%;
                background-attachment: fixed;
		backgorund-position:centre;
        }

        h1{
                font-size:400%;
                font-family:verdana;
                font-weight: bold;
                position: absolute;
                top: 7%;
                left: 5%;
                align-items: center;
                text-shadow: 3px 3px #282828;
                color:#DCC08B;
        }

        /* css menu */
        #nav {
                background-color:transparent;
                width:70%;
		height:45%;
                position: absolute;
                top: 35%;
                left: 15%;
                border-style: solid;
                border-width: 2px;
                border-color:#DCC08B;
                background-color: black;
                text-align: center;
                opacity: 0.8;
        }

        #nav ul li{
                list-style-type:none;
                display: inline-block;
        }

        #nav a{
                color:#DCC08B;
		font-size:500%;
                text-shadow: 2px 2px #282828;
                padding: 15px 50px;
                display: inline-block;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
		text-align:centre;
		padding:20% 0%;
                font-family:arial;
        }

        #nav a:hover{
                color:darkgoldenrod;
        }

        /* css footer*/
        footer{
                position:fixed;
                bottom:0%;
                right:0%;
                color: #DCC08B;
        }
}
