<html lang="it">
    <head>
        <title>mockup</title>
        <meta charset="UTF-8" />
        <!---<link href="pages/style/stile1.css" rel="stylesheet" type="Text/css" media="all" title="stile1" /> -->
    </head>
    <h1>TrentinoFind</h1>

    <body>
        <p>
            <div id="nav">
                <ul>
                    <li><a href="home" style="color:red; font-weight: bold" ;>HOME</a></li>
                    <li><a href="login">LOGIN</a></li>
                </ul>
            </div>

            <div id="mapdiv" style="position: relative; height: 70%; width: 90%; top:20%; left: 5%;">
            </div>
        </p>
        <footer>
            mockup TrentinoFind, realized by Michele Callegari
        </footer>
    </body>
</html>    